{% extends "base.html.twig" %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/base.css')  }}">
 {% endblock %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div class="col-md-12" style="text-align: center">
        {% for product in products %}
            <div class="col-md-4 block_product">
                {{ product.libelle }} <br />
                <div style="height: 50%">
                    {{ product.photo }}
                </div>
                <div style="padding-left: 25px; text-align: left">
                    {{ product.price }} €
                </div>
                <div style="margin-top: 40px">
                    <a href="{{ path('product_show', {'entityId': product.id}) }}">Ajouter Produit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
